.contenedor	{
	width: 700px;
	border: 4px solid #CCCCCC;
}

.caja	{
	height: 100px;
	width: 25%;
	float: right;
}

.amarilla	{
	background-color: #FFFF00;		
}

.cyan	{
	background-color: #3A81BA;
}

.magenta	{
	background-color: #ED2251;
}