.contenedor	{
	height: 300px;
	border: 4px solid #CCCCCC;
}



.amarillo	{
	background-color: #FFFF00;
	height: 100px;
	width: 25%;	
}

.cyan	{
	background-color: #3A81BA;
	height: 100px;
	width: 25%;
}

.magenta	{
	background-color: #ED2251;
	height: 100px;
	width: 25%;
}